BOT_TOKEN=
GEMINI_API_KEY=

# Configurações do Banco de Dados
DB_HOST=db
DB_PORT=3306
DB_USER=cs_admin
DB_PASSWORD=senha_secreta
DB_ROOT_PASSWORD=senha_root_secreta
DB_NAME=cs_stats

# MinIO Configuration
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_ENDPOINT=minio:9000
MINIO_BUCKET_NAME=cs2-images
MINIO_USE_SSL=False

# AWS 
AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=